
Exercise 1.

Using the Palmer Penguin dataset (with the species as output variable, and the flipper length, bill length, bill depth and body mass as predictors/ features), compare and contrast the outputs of classification tasks, performed using a cross-validation setting. The cross-validation can be based on a 5-fold setup; repeat the CV on 5 iterations.

In [2]:
import pandas as pd
import seaborn as sns
from palmerpenguins import load_penguins

In [3]:
penguin = load_penguins()

In [5]:
penguin.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007

In [7]:
### Data Cleaning
# Remove rows with missing values
print (penguin.shape)
penguin = penguin.dropna()
print (penguin.shape)

(333, 8)
(333, 8)

The classification approaches to be compared are:

[a] Discriminative approaches

 [a1] Logistic regression

 [a2] Nearest neighbours


 [a3] Support vector machines